
.tiendita {
    font-family: algerian;
    color: gainsboro;

    font-size: 20px;
    padding-top: 20px;
    padding-left: 24px;
    
    float:left
}

*{
    margin:0px;

}

.container_menu {
    width:20%;
    height:1200px;
    
}

.contenido{
    width:80%;
    height:1200px;
}

.container_menu nav{
    transform: translateY(15%);

}
.container_menu nav a{
    display:block;
    text-decoration: none;
    padding:20px;
    color: #c7c7c7;
    border-left: 5px solid transparent;
    color:#fff;
}

.content{
    margin-left:270px;
    margin-right:20px
}